.rnb-container-edit--main {
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.rnb-edit--main-field {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
/*  #eaf4ff*/
.rnb-edit--main-column-first,
.rnb-edit--main-column-second
{
  display: flex;
  width: 47%;
  flex-wrap: wrap;
}
.rnb-edit--main-column-first {
  background-color: #eaf4ff;
  padding: 10px;
  box-shadow: 0 0px 5px 1px #8e8e8e;
}
.rnb-edit--main-column-title {
  width: 100%;
  font-size: 22px;
  /* text-transform: lowercase; */
  padding: 10px 0 10px 10px;
  background-color: #1771cb;
  color: #FFFFFF;
  margin-bottom: 5px;
  height: 24px;

}

.rnb-edit--main-column-second {
  background-color: #eaf4ff;
  padding: 10px;
  box-shadow: 0 0px 5px 1px #8e8e8e;
}

.rnb-edit--main-errors {
  border: 1px solid #38b133;
  width: 20%;
}

.rnb-edit--field-wrapper {
  margin: 0 10px 5px 0;
}
.rnb-edit--field-wrapper label {
  font-weight: 600;
}
.rnb-edit--field-input-sum {
  width: 100%;
}
.rnb-edit--field-input
{
  display: block;
  border: 1px solid #ced4da;
  color: inherit;
  box-sizing: border-box;
  padding: 5px 3px 5px 5px;
  line-height: 25px;
}

.rnb-edit--field-input-date {
  display: block;
  border: 1px solid #ced4da;
  color: inherit;
  box-sizing: border-box;
  padding: 5px 3px 5px 5px;
  line-height: 24px;
}

.rnb-edit--field-input-lookup {
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
  padding: 5px 3px 5px 5px !important;
/*  width: 500px !important;*/
}
.rnb-edit--field-wrapper textarea {
  resize: none;
}
rnb-grid {
  width: 90%;
}
