<div class="rnb-grid-wrapper">
<button class="rnb-grid--button" (click)="addRow()">Добавить</button>
<table>
  <thead>
  <tr>
    <th *ngFor="let head of headers">{{head.columnTitle}}</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor ="let data of dataSource">
    <ng-container *ngTemplateOutlet="selectTemplate(data); context: {$implicit: data}">
    </ng-container>
  </tr>
  <tr>
    <ng-container *ngTemplateOutlet="addTemplate()">
    </ng-container>
  </tr>
  </tbody>
</table>
</div>

<ng-template #tableTmp let-data>
  <td *ngFor="let cell of headers" class="rnb-grid--template-table" >
    {{data[cell.column]}}
    <div class="rnb-grid--show-edit" (click)="edit(data)"></div>
  </td>
</ng-template>

<ng-template #editTmp>
  <td class="rnb-grid--template-table"
      *ngFor="let cell of headers" [formGroup]= "editGroup"
  >
    <input type="text"
           class="rnb-grid--input rnb-grid--input-edit"
           [value]="selected[cell.column]"
           [formControlName]="cell.column">

    <div class="rnb-grid--input-edit-hide-accept"
         (click)="accept(editGroup)"
    ></div>
    <div class="rnb-grid--input-edit-hide-cancel"
         (click)="cancel()"
    ></div>
  </td>
</ng-template>

<ng-template #addTmp>
  <td class="rnb-grid--template-table"
      *ngFor="let cell of headers" [formGroup]= "addGroup">
    <input type="text"
           class="rnb-grid--input"
           [formControlName]="cell.column">

    <div class="rnb-grid--input-edit-hide-accept" (click)="add(addGroup)"></div>
    <div class="rnb-grid--input-edit-hide-cancel" (click)="cancel()"></div>
  </td>
</ng-template>












