<rnb-layout [title]="'редактирование заявки'">
<div class="rnb-container-column">
  <section class="rnb-main rnb-heading">
    <ul class="rnb-edit-navigation">
      <li><a>
        <span routerLinkActive="active"
              routerLink="main">Основная информация</span></a></li>
      <li><a>
        <span routerLinkActive="active"
              routerLink="contracts">Данные договора</span></a></li>
      <li><a>
        <span routerLinkActive="active"
                   routerLink="history">История работы</span></a></li>
      <li><a>
        <span routerLinkActive="active"
                   routerLink="isma">ISMA</span></a></li>
    </ul>
    <ul class="rnb-edit--heading-button">
      <li><button class="rnb-button">Сохранить</button></li>
      <li><button class="rnb-button-cancel">Отменить</button></li>
    </ul>
  </section>
  <section class="rnb-main rnb-main-section">
    <router-outlet></router-outlet>
  </section>
</div>
</rnb-layout>
