<rnb-header [loginUser]="loginUser"
            (logout)="onLogout()"
></rnb-header>
<main class="rnb-container-column">
  <section class="rnb-content">
    <h3 class="rnb-content-title">{{title}}</h3>
    <ng-content select=".rnb-box"></ng-content>
  </section>

  <section class="rnb-content" *ngIf="isVisibleHiddenBox" [@EnterLeave]>
    <ng-content select=".hide-box"></ng-content>
  </section>

  <section class="rnb-content">
    <ng-content class=".rnb-main"></ng-content>
  </section>
</main>

