/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "assets/style/indigo-pink.css";*/
@import "assets/style/style-material.css";

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: rgba(153, 207, 247, 0.26);
}

.rnb-container {
  display: flex;
  flex-direction: column;
  color: #547191;
  height: 100%;
}

.rnb-content {
  background-color: #FFFFFF;
  margin: 10px 10px 0 10px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(122, 166, 204, 0.26);
  display: flex;
}
