/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "assets/style/indigo-pink.css";*/
@import "assets/style/style-material.css";

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: rgba(153, 207, 247, 0.26);
}

.rnb-container-column {
  display: flex;
  flex-direction: column;
  color: #547191;
  height: 100%;
}

.rnb-content {
  background-color: #FFFFFF;
  margin: 10px 10px 0 10px;
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(122, 166, 204, 0.26);
  display: flex;
}
.rnb-button,
.rnb-button-cancel
{
  position: relative;
  background-color: #1771cb;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  width: 120px;
  font-size: 16px;
  margin-left: 20px;
  padding: 10px;
}
.rnb-button:hover{
  background-color: #175db1;
  color: #FFFFFF;
}
.rnb-button-cancel {
  background-color: rgba(144, 192, 238, 0.65);
}
.rnb-button-cancel:hover {
  background-color: rgba(102, 138, 170, 0.66);
}

.rnb-column-size-100 {
  width: 100%;
}
.rnb-column-size-92 {
  width: 92%;
}
.rnb-column-size-90 {
  width: 90%;
}
.rnb-column-size-60 {
  width: 60%;
}
.rnb-column-size-50 {
  width: 50%;
}
.rnb-column-size-45 {
  width: 45%;
}
.rnb-column-size-40 {
  width: 40%;
}
.rnb-column-size-30 {
  width: 30%;
}
.rnb-column-size-20 {
  width: 20%;
}
.rnb-column-size-10 {
  width: 10%;
}
